$TTL	604800
@	IN	SOA	{{ startup }}. root.{{ startup }}. (
			{{ ts.stdout }}	; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800	)	; Negative Cache TTL
;
{% for i in dns_vars %}
{% if i.type == 'A' %}
{{ i.name }}.{{ startup }}.	IN	A	{{ i.addr }}
{% elif i.type == 'CNAME' %}
{{ i.name }}.{{ startup }}.	IN	CNAME	{{ i.addr }}.{{ startup}}.
{% else %}
{{ i.name }}	IN	{{ i.type }}	{{ i.addr }}
{% endif %}
{% endfor %}
